@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200&display=swap');

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font-family: 'M PLUS 1', sans-serif;
}


p {
  font-size: 20px;
}

.ishere {
  color: rgb(0, 163, 0);

}

.isnothere {
  color: rgb(195, 0, 0);

}

.islate {
  color: orange
}